<%- include('../partials/header.ejs') %>
<title>Add</title>
<%- include('../partials/navbar.ejs') %>
<body>

    <div class="container mt-5">
        <%- include('../partials/flash.ejs') %>
        <form action="/add" method="post" class="needs-validation" novalidate>
            <div class="form-row justify-content-center">
                <div class="col-sm-8 mb-3">
                    <label for="fullname">Full Name</label>
                    <input type="text" class="form-control" id="fullname" placeholder="Enetr your name here" name="fullname" required>
                    <div class="invalid-feedback">
                        Please enter your fullname.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-sm-8 mb-3">
                    <label for="phone">Phone Number</label>
                    <input type="text" class="form-control" id="phone" placeholder="Enter Phone here" name="phone">
                </div>
                <div class="col-sm-8 mb-3">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email here" name="email" required>
                    <div class="invalid-feedback">
                        Please enter an Email.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-sm-8 mb-3">
                    <button class="btn btn-primary " type="submit">Submit</button>
                </div>
                
            </div>
            
        </form>
    </div>




    <script src="formValidationJs.js"></script>
</body>

</html>